<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <div class="container">
        <h3>Halo, <span th:text="${username}"></span></h3>
        <p>
          Anda memiliki kendali penuh atas partisipasi Anda dalam kegiatan
          pembelajaran. Jadilah mahasiswa yang berprestasi dan berakhlak baik
          karena Indonesia membutuhkan generasi muda yang seperti itu. Kerjakan
          tugasmu dan tetap melangkah demi menggapai tujuanmu!
        </p>

        <div
          class="wrap-tombol-user d-flex gap-3 justify-content-center p-4 flex-wrap"
        >
          <div class="kartu">
            <div class="kartu-content">
              <div class="kartu-title">Kirim Hasil Tugas</div>
              <p class="kartu-description">
                Buat dan kirim hasil pengerjaan tugas Anda
              </p>
              <a th:href="@{/tambah-complaint}" class="kartu-button">Buat</a>
            </div>
          </div>
          <div class="kartu">
            <div class="kartu-content">
              <div class="kartu-title">Data Kirim Tugas</div>
              <p class="kartu-description">
                Lihat data tugas yang telah Anda kirimkan
              </p>
              <a th:href="@{/user-complaint}" class="kartu-button">Lihat</a>
            </div>
          </div>
          <div class="kartu">
            <div class="kartu-content">
              <div class="kartu-title">Follow Up Tugas</div>
              <p class="kartu-description">
                Lihat hasil follow up tugas Anda dari dosen
              </p>
              <a th:href="@{/user-history}" class="kartu-button">Lihat</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <div layout:fragment="js">
      <script th:src="@{/js/users/complaint.js}"></script>
  </div> -->
  </body>
</html>
