<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="pt-4 mt-5 footBar" th:fragment="footer">
      <div class="row">
        <p class="mt-5 text-center">
          SIBKM Fullstack Metrodata - Kelompok 2 © 2023
          <a
            href="https://github.com/SIBKM-05-Java/S4-Kelompok_02"
            target="_blank"
            class="footer-tag"
            >LaporYuk</a
          >. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
