<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="py-2 mt-5 footBar" th:fragment="footer">
      <div class="row">
        <p class="mt-5 text-center">
          UNISLA - Teknik Informatika © 2024
          <a href="#" target="_blank" class="footer-tag">Edutasker</a>. All
          rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
