<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid text-center py-5">
        <div class="container">
          <h1 class="display-4">Selamat datang di EduTasker</h1>
          <p class="lead">Sederhanakan Tugas Akademik Anda dengan Mudah.</p>
          <a class="btn btn-primary mt-3" href="#pelajariLanjut" role="button"
            >Pelajari Lebih Lanjut</a
          >
        </div>
      </div>

      <!-- Section Introduction -->
      <section class="py-5 mt-3 mb-2">
        <div class="container">
          <h2 class="text-center mb-4">Apa Itu EduTasker?</h2>
          <p class="text-center">
            EduTasker adalah solusi lengkap Anda untuk mengelola tugas akademik,
            pekerjaan rumah, dan proyek. Platform kami dirancang untuk membantu
            siswa dan pengajar tetap terorganisir, memenuhi tenggat waktu, dan
            mencapai tujuan pendidikan mereka dengan efisien.
          </p>
        </div>
      </section>

      <div class="container py-5" id="pelajariLanjut">
        <!-- Section Keamanan dan Privasi -->
        <section class="container my-5">
          <h2 class="text-center mb-4">Keamanan dan Privasi</h2>
          <p class="text-center">
            Kami menghargai keamanan dan privasi informasi Anda. EduTasker
            didesain dengan keamanan sebagai prioritas utama, memberikan jaminan
            bahwa setiap informasi yang Anda sampaikan akan diolah secara aman
            dan penuh rahasia. Kami berkomitmen untuk menciptakan lingkungan
            yang terpercaya dan nyaman bagi setiap pengguna. Untuk informasi
            lebih lanjut, silakan baca
            <a href="#">Kebijakan Privasi</a> kami.
          </p>
        </section>

        <!-- Section Bertumbuh Bersama -->
        <section class="pt-5">
          <div class="container">
            <h2 class="text-center mb-4">Bertumbuh Bersama</h2>
            <p class="text-center">
              Aplikasi kami terus berkembang dan memperoleh pembaruan
              berdasarkan masukan dan saran dari dosen maupun mahasiswa. Kami
              mengundang Anda untuk aktif memberikan kontribusi, memberikan
              umpan balik, dan bersama-sama merancang masa depan yang lebih baik
              untuk desa kita. LaporYuk adalah bukti bahwa perubahan dimulai
              dari suara pengguna yang bersatu. Kami membangun EduTasker sebagai
              platform terbuka untuk kolaborasi.
            </p>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
