<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid text-center py-5">
        <div class="container">
          <h1 class="display-4">Selamat datang di LaporYuk</h1>
          <p class="lead">
            Platform untuk memberdayakan masyarakat dan membangun desa yang
            lebih baik.
          </p>
          <a
            class="btn btn-primary btn-lg mt-3"
            href="#pelajariLanjut"
            role="button"
            >Pelajari Lebih Lanjut</a
          >
        </div>
      </div>

      <!-- Section Fitur Unggulan -->
      <section class="py-5 mt-5 mb-2">
        <div class="container">
          <h2 class="text-center mb-4">Fitur Unggulan</h2>
          <p class="text-center">
            Di LaporYuk, kami menyediakan berbagai fitur yang dirancang untuk
            memudahkan Anda dalam menyampaikan ide, mengajukan pengaduan,
            perizinan, dan melihat perkembangan tanggapan. Fitur-fitur ini
            mencakup pelaporan visual dengan kemampuan mengunggah gambar.
          </p>
        </div>
      </section>

      <div class="container py-5" id="pelajariLanjut">
        <!-- Section Keamanan dan Privasi -->
        <section class="container my-5">
          <h2 class="text-center mb-4">Keamanan dan Privasi</h2>
          <p class="text-center">
            Kami menghargai keamanan dan privasi informasi Anda. LaporYuk
            didesain dengan keamanan sebagai prioritas utama, memberikan jaminan
            bahwa setiap informasi yang Anda sampaikan akan diolah secara aman
            dan penuh rahasia. Kami berkomitmen untuk menciptakan lingkungan
            yang terpercaya dan nyaman bagi setiap pengguna. Untuk informasi
            lebih lanjut, silakan baca
            <a href="#">Kebijakan Privasi</a> kami.
          </p>
        </section>

        <!-- Section Bertumbuh Bersama -->
        <section class="py-5">
          <div class="container">
            <h2 class="text-center mb-4">Bertumbuh Bersama</h2>
            <p class="text-center">
              Aplikasi kami terus berkembang dan memperoleh pembaruan
              berdasarkan masukan dan saran dari masyarakat. Kami mengundang
              Anda untuk aktif memberikan kontribusi, memberikan umpan balik,
              dan bersama-sama merancang masa depan yang lebih baik untuk desa
              kita. LaporYuk adalah bukti bahwa perubahan dimulai dari suara
              masyarakat yang bersatu. Kami membangun LaporYuk sebagai platform
              terbuka untuk kolaborasi. Kami memahami keberagaman kebutuhan dan
              aspirasi masyarakat, dan dengan ini kami membuka pintu bagi
              kolaborasi dengan pihak-pihak terkait, instansi pemerintah, dan
              pihak swasta untuk mencapai solusi yang holistik.
            </p>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
