<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <!-- local CSS -->
    <link rel="stylesheet" th:href="@{/css/about.css}" />

    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <div class="container">
        <!-- <h1 class="text-center pt-3">Tentang LaporYuk</h1> -->
        <div
          class="d-flex justify-content-center align-items-center gap-3 flex-wrap py-3"
        >
          <div>
            <img th:src="@{/img/kelompok2.jpeg}" class="about-img" />
          </div>
          <div>
            <p>
              Kami dari Kelompok 2
              <br />
              Mahasiwa SIBKM batch 5. FullStack Java Developer
              <br />
              Metrodata Academy
            </p>
            <p>
              <i class="bi bi-github"></i>
              <a
                href="https://github.com/SIBKM-05-Java/S4-Kelompok_02"
                class="text-decoration-none"
              >
                GitHub
              </a>
            </p>
          </div>
        </div>
        <div class="container py-4">
          <h1 class="text-center pt-5">Visi Misi LaporYuk</h1>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Visi</h2>
                  <p class="card-text">
                    Misi kami adalah memberikan akses kepada masyarakat untuk secara
                    langsung berpartisipasi dalam pengelolaan lingkungan sekitarnya.
                    Dengan LaporYuk, kami mengajak Anda untuk tidak hanya menjadi
                    saksi, tetapi juga pelaku dalam menciptakan solusi bagi
                    permasalahan yang dihadapi. Kami percaya bahwa melibatkan
                    masyarakat adalah kunci keberlanjutan dan keberhasilan
                    komunitas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Misi</h2>
                  <p class="card-text">
                    Di LaporYuk, kami berkomitmen untuk membawa perubahan positif
                    melalui pemberdayaan masyarakat. Visi kami adalah menciptakan
                    masyarakat yang adil, inklusif, dan memiliki kapasitas untuk
                    memecahkan masalah bersama. Kami percaya bahwa setiap individu
                    memiliki peran yang penting dalam pembangunan komunitas yang
                    berkelanjutan.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-4">
        <h1 class="text-center pt-5">Temui Tim Kami</h1>
        <div class="d-flex justify-content-center gap-3 flex-wrap pt-3">
          <!-- Card 1 -->
          <div class="card1">
            <div class="d-flex justify-content-center">
              <img
                th:src="@{/img/foto1.png}"
                alt="User 1"
                class="w-100"
              />
            </div>
            <div class="card-info p-3 text-center">
              <h4>Moch. Miftachul Huda</h4>
              <p class="text-muted">
                Universitas Islam Lamongan
                <br />
                miftachulhd5@gmail.com
              </p>
              <p>
                <i class="bi bi-instagram"></i>
                <a
                  href="https://www.instagram.com/miftachulhd/"
                  target="_blank"
                  class="text-decoration-none"
                >
                  @miftachulhd
                </a>
              </p>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card1">
            <div class="d-flex justify-content-center">
              <img
                th:src="@{/img/foto2.jpg}"
                alt="User 2"
                class="w-100"
              />
            </div>
            <div class="card-info p-3 text-center">
              <h4>Indri Melani Putri</h4>
              <p class="text-muted">
                Universitas Islam Nusantara
                <br />
                indrimp03@gmail.com
              </p>
              <p>
                <i class="bi bi-instagram"></i>
                <a
                  href="https://www.instagram.com/indri.mlnii/"
                  target="_blank"
                  class="text-decoration-none"
                >
                  @indri.mlnii
                </a>
              </p>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card1">
            <div class="d-flex justify-content-center">
              <img
                th:src="@{/img/foto3.jpg}"
                alt="User 3"
                class="w-100"
              />
            </div>
            <div class="card-info p-3 text-center">
              <h4>Deni Chandra</h4>
              <p class="text-muted">
                Universitas Mercu Buana
                <br />
                deni.chandra03@gmail.com
              </p>
              <p>
                <i class="bi bi-instagram"></i>
                <a
                  href="https://www.instagram.com/deni.chandraa/"
                  target="_blank"
                  class="text-decoration-none"
                >
                  @deni.chandraa
                </a>
              </p>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="card1">
            <div class="d-flex justify-content-center">
              <img
                th:src="@{/img/foto4.jpg}"
                alt="User 4"
                class="w-100"
              />
            </div>
            <div class="card-info p-3 text-center">
              <h4>Ainul Irsyad Dul Ma'Arif</h4>
              <p class="text-muted">
                Universitas Islam Sultan Agung
                <br />
                irsyaddulmaarif80@gmail.com
              </p>
              <p>
                <i class="bi bi-instagram"></i>
                <a
                  href="https://www.instagram.com/irsyddlmarif_/"
                  target="_blank"
                  class="text-decoration-none"
                >
                  @irsyddlmarif_
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
