<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <!-- local CSS -->
    <link rel="stylesheet" th:href="@{/css/about.css}" />

    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <div class="container">
        <div class="container py-4">
          <h1 class="text-center pt-5">Visi Misi EduTasker</h1>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Visi</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                    quidem incidunt illum culpa porro. Veritatis nisi ipsa
                    voluptas ratione ipsam dolore, doloribus voluptate assumenda
                    beatae libero magni, sequi voluptatibus incidunt optio
                    pariatur! Distinctio mollitia laborum impedit qui,
                    temporibus, sunt molestiae deserunt tenetur, vitae dolorem
                    iusto odit consectetur dolores reiciendis repellendus!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Misi</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Esse est omnis accusantium eius, iure voluptates suscipit
                    excepturi! Neque temporibus repellat molestiae quae?
                    Assumenda deleniti in excepturi, vitae eaque animi
                    recusandae dignissimos quam expedita, tempore optio.
                    Perferendis praesentium quam assumenda possimus?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-4">
        <h1 class="text-center pt-5">Sapa Saya! 👋</h1>
        <div class="d-flex justify-content-center gap-3 flex-wrap pt-3">
          <!-- Card 1 -->
          <div class="card1">
            <div class="d-flex justify-content-center">
              <img th:src="@{/img/foto1.png}" alt="User 1" class="w-100" />
            </div>
            <div class="card-info p-3 text-center">
              <h4>Moch. Miftachul Huda</h4>
              <div class="border pt-3 mb-3 rounded">
                Universitas Islam Lamongan
                <p>Teknik Informatika</p>
              </div>
              <p class="text-muted">miftachulhd5@gmail.com</p>
              <i class="bi bi-instagram"></i>
              <a
                href="https://www.instagram.com/miftachulhd/"
                target="_blank"
                class="text-decoration-none"
              >
                @miftachulhd
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
